[defaults]
inventory = ./inventories/
roles_path = ./roles
library = ./library
retry_files_enabled = False
host_key_checking = False
stdout_callback = yaml
deprecation_warnings = False
remote_user = blackpaw
private_key_file = ~/.ssh/ansible_vpn


[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False