---
- name: Install basic packages
  apt:
    name: "{{ packages }}"
    state: present
    update_cache: yes
  vars:
    packages:
      - curl
      - wget
      - git
      - unzip

- name: Ensure Python is installed
  raw: test -e /usr/bin/python || (apt -y update && apt install -y python3)
  changed_when: false
  tags: python